{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="alert alert-success">
            Thanks for register go to <p><a href="{{ path('fos_user_security_login') }}">Login</a></p>
        </div>
    </div>
{% endblock fos_user_content %}
